<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{#if frontMatter.title }}{{ frontMatter.title }}{{ else }}{{ site.title }}{{/if}}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="{{ site.paths.assets }}/manifest.json">
    <link rel="shortcut icon" href="{{ site.paths.img }}/touch/192.png">
    <link rel="apple-touch-icon" href="{{ site.paths.img }}/touch/192.png">
    <meta name="apple-mobile-web-app-title" content="{{ site.title}}">
    <meta name="theme-color" content="{{ site.theme.color }}">

    <link rel="stylesheet" href="{{ site.paths.css }}/fonts.css">
    <script src="{{ site.paths.js }}/head.bundle.js"></script>

    <link rel="stylesheet" href="{{ site.paths.css }}/main.css">
</head>
<body>
    {{> partials/site-header}}

    <main>
    {{#block "content"}}{{/block}}
    </main>

    {{> partials/site-footer}}

    {{#block "scripts"}}
    <script src="{{ site.paths.js }}/main.bundle.js"></script>
    {{/block}}
</body>
</html>
